Zadanie5/xml-parser/xml/lista_dysków.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:saps="http://example.com/saps"
           targetNamespace="http://example.com/saps">
    <xs:element name="dokument">
        <xs:complexType>
            <xs:sequence>


                <xs:element name="nagłówek">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="autorzy">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="autor" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:group ref="saps:student"/>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="data" type="xs:dateTime"/>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="ciało">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="lista_sklepów">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="sklep" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="nazwa" type="xs:string" use="required"/>
                                                <xs:attribute name="id" type="saps:id_xxxx" use="required"/>
                                                <xs:attribute name="URI" type="xs:anyURI" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="lista_dysków">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="dysk" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>

                                                    <xs:element name="marka" type="xs:string"/>
                                                    <xs:element name="model" type="xs:string"/>
                                                    <xs:element name="pojemność" type="saps:pojemność"/>
                                                    <xs:element name="cena" type="saps:cena"/>
                                                    <xs:element name="ocena" type="saps:ocena"/>

                                                </xs:sequence>
                                                <xs:attribute name="typ" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="SSD"/>
                                                            <xs:enumeration value="HDD"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="id" type="saps:id_xxxx" use="required"/>
                                                <xs:attribute name="sklep" type="xs:IDREF" use="required"/>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <xs:key name="sklep_key">
            <xs:selector xpath="ciało/fdgd/sklep"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="sklep_ref" refer="saps:sklep_key">
            <xs:selector xpath="ciało/lista_dysków/dysk"/>
            <xs:field xpath="@sklep"/>
        </xs:keyref>

    </xs:element>


    <xs:simpleType name="id_xxxx">
        <xs:restriction base="xs:ID">
            <xs:length value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="telefon">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="plec">
        <xs:restriction base="xs:string">
            <xs:pattern value="[MK]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="wiek">
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>

    <xs:simpleType name="numer_indeksu">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="cena">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="waluta">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="USD"/>
                            <xs:enumeration value="PLN"/>
                            <xs:enumeration value="EUR"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="ocena">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[1-5].0|[1-4].5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="pojemność">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
                <xs:attribute name="jednostka">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="GB"/>
                            <xs:enumeration value="TB"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:group name="student">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="imię" type="xs:string"/>
            <xs:element name="nazwisko" type="xs:string"/>
            <xs:element name="numer_indeksu" type="saps:numer_indeksu" minOccurs="0"/>
        </xs:sequence>
    </xs:group>


</xs:schema>